# Create an OSEv3 group that contains the masters and nodes groups
[OSEv3:children]
masters
nodes

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user=vagrant

# If ansible_ssh_user is not root, ansible_sudo must be set to true
ansible_sudo=true
os_sdn_network_plugin_name='redhat/openshift-ovs-multitenant'
deployment_type=openshift-enterprise
osm_default_subdomain=cloudapps.example.com
# uncomment the following to enable htpasswd authentication; defaults to DenyAllPasswordIdentityProvider
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]

#osm_default_node_selector="region=primary"
openshift_router_selector='region=infra'
openshift_registry_selector='region=infra'
# host group for masters
[masters]
ose3-master.example.com

# host group for nodes, includes region info
[nodes]
ose3-master.example.com openshift_node_labels="{'region': 'infra', 'zone': 'default'}"
ose3-node1.example.com openshift_node_labels="{'region': 'primary', 'zone': 'east'}"
#ose3-node2.example.com openshift_node_labels="{'region': 'primary', 'zone': 'west'}"
