te an OSEv3 group that contains the masters and nodes groups
[OSEv3:children]
masters
nodes
etcd
lb
# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user=vagrant

# If ansible_ssh_user is not root, ansible_sudo must be set to true
ansible_sudo=true
os_sdn_network_plugin_name='redhat/openshift-ovs-multitenant'
deployment_type=openshift-enterprise
osm_default_subdomain=cloudapps.example.com
# uncomment the following to enable htpasswd authentication; defaults to DenyAllPasswordIdentityProvider
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]
os_sdn_network_plugin_name='redhat/openshift-ovs-multitenant'
openshift_node_kubelet_args={'max-pods': ['40'], 'image-gc-high-threshold': ['90'], 'image-gc-low-threshold': ['80']}
logrotate_scripts=[{"name": "syslog", "path": "/var/log/cron\n/var/log/maillog\n/var/log/messages\n/var/log/secure\n/var/log/spooler\n", "options": ["daily", "rotate 7", "compress", "sharedscripts", "missingok"], "scripts": {"postrotate": "/bin/kill -HUP `cat /var/run/syslogd.pid 2> /dev/null` 2> /dev/null || true"}}]
#osm_default_node_selector="region=primary"
openshift_router_selector='region=infra'
openshift_registry_selector='region=infra'
openshift_node_iptables_sync_period=5s
openshift_hosted_router_selector='region=infra,zone=default'
openshift_master_pod_eviction_timeout=3m
osm_controller_args={'resource-quota-sync-period': ['10s']}
osm_api_server_args={'max-requests-inflight': ['400']}
osm_cockpit_plugins=['cockpit-kubernetes']
osm_use_cockpit=true

openshift_master_cluster_method=native
openshift_master_cluster_hostname=dns.example.com
openshift_master_cluster_public_hostname=dns.example.com

[etcd:vars]
etcd_interface=eth1
# host group for masters
[lb]
192.168.144.4
[masters]
ose3-master.example.com openshift_ip=192.168.144.2
ose3-node1.example.com openshift_ip=192.168.144.3
[etcd]
192.168.144.2
192.168.144.3
192.168.144.5
# host group for nodes, includes region info
[nodes]
ose3-master.example.com openshift_ip=192.168.144.2 openshift_node_labels="{'region': 'infra', 'zone': 'default'}"
ose3-node1.example.com openshift_ip=192.168.144.3 openshift_node_labels="{'region': 'primary', 'zone': 'east'}"
ose3-node2.example.com openshift_ip=192.168.144.5 openshift_node_labels="{'region': 'primary', 'zone': 'west'}"
